pre {
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.sns {
  margin-top: 30px;
  text-align: left;
  padding: 0;
}

.sns > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
}

.sns > li:first-child {
  margin-left: 0;
}

.sns > li:last-child {
  margin-right: 0;
}

.sns iframe {
  margin: 0 !important;
}
