<h4><a href="https://twitter.com/itkq">Twitter</a></h4>
<h4><a href="https://github.com/itkq">GitHub</a></h4>
<h4><a href="https://keybase.io/itkq">Keybase</a></h4>
<h4><a href="https://medium.com/@itkq">Medium</a></h4>
<h4><a href="http://itkq.hatenablog.com/">Hatena Blog</a></h4>
<h4><a href="https://bookmeter.com/users/764036">Bookmeter</a></h4>
<h4><a href="https://www.eventernote.com/users/itkq">Eventernote</a></h4>
<h4><a href="https://annict.com/@itkq">Annict</a></h4>
<h4><a href="mailto:kuogsi@gmail.com">mail</a></h4>
