<h4><a href="https://twitter.com/itkq">Twitter</a></h4>
<h4><a href="https://github.com/itkq">Github</a></h4>
<h4><a href="https://keybase.io/itkq">Keybase</a></h4>
<h4><a href="https://itkq.tumblr.com">Tumblr</a></h4>
<h4><a href="http://itkq.hatenablog.com/">hatenablog</a></h4>
<h4><a href="https://bookmeter.com/users/764036">bookmeter</a></h4>
<h4><a href="https://www.eventernote.com/users/itkq">Eventernote</a></h4>
<h4><a href="https://annict.com/@itkq">annict</a></h4>
<h4><a href="https://slideship.com/users/itkq/presentations">slideship</a></h4>
<h4><a href="mailto:kuogsi@gmail.com">mail</a></h4>
